.home-cards {
  display: flex;
  justify-content: space-around;
}

.home-row-wrapper {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content-wrapper {
  margin: 0 2rem;
}

.expense-table {
  width: 86%;
  margin: 0 auto;
}

@media only screen and (max-width: 1450px) {
  .home-cards-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .home-cards {
    flex-direction: column;
  }

  .expense-table {
    width: initial;
  }
}
